{{!-- {{#each items}}
<div>
  <h1>{{name}}</h1>
  <p>{{price}}</p>
</div>
<hr>

{{else}}
<p>Out of stock!</p>
{{/each}} --}}


{{#if show}}
<h1> showing products</h1>
{{else}}
<h1>Hiding Products</h1>
{{/if}}